.large-text-right {
  text-align: inherit;
  @include breakpoint(large) {
    text-align: right;
  }
}

.medium-text-right {
  text-align: inherit;
  @include breakpoint(medium) {
    text-align: right;
  }
}

.small-text-right {
    text-align: right;
}

.large-text-left {
  text-align: inherit;
  @include breakpoint(large) {
    text-align: left;
  }
}

.medium-text-left {
  text-align: inherit;
  @include breakpoint(medium) {
    text-align: left;
  }
}

.small-text-left {
    text-align: left;
}

.large-text-center {
  text-align: inherit;
  @include breakpoint(large) {
    text-align: center;
  }
}

.medium-text-center {
  text-align: inherit;
  @include breakpoint(medium) {
    text-align: center;
  }
}

.small-text-center {
    text-align: center;
}