.top-bar {
  display: block;
  justify-content: normal;
  align-items: normal;
  padding: 0;
}

header {
  .logo {
    font-family: $Freight-Big-Medium-Regular;
    font-size: large;
    text-transform: uppercase;
  }
}